h1 
{
    color : blue 
}
a:link {
    color: rgb(74, 255, 71);
}
a:visited{
    color:aqua
}
h1:hover {
    color: tomato;
} 
a:active{
    color: rgb(126, 42, 165);
}
#pattern{
    padding: 50px 50px 50px 50px;
}
#pattern{
    height: 300px;
    width: 90%; 
    background-color:brown;
}
nav{
    display: inline-block;
}